<% provide(:title, "Home") %>

<h1>Take a typing test</h1>

<div class="panel panel-default">
    <div class="panel-header">
        <div class="panel-heading row">
            <div class="col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="language_dropdown" data-toggle="dropdown" arai-haspopup="true">
                        Language
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="language_dropdown">
                        <li><a>English</a></li>
                        <li><a>Not English</a></li>
                        <li><a>Also not English</a></li>
                    </ul>
                    <button class="btn btn-info" type="button"  data-toggle="collapse" data-target="#settings_collapse" aria-expanded="false" aria-controls="settings_collapse">Settings</button>  
                </div>
            </div>
            <div class="col-xs-6">
                <% if logged_in? %>
                    <div>           
                        <%= render 'users/user_button', :user => current_user %>
                    </div>
                 <%else%>       
                    <div id ="sign_in_up_buttons" class="btn-group btn-group-justified" role="group">
                        <%= link_to "Log in", login_path, class: "btn btn-success" %>
                        <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="collapse" id="settings_collapse">
            <div class="panel panel-body">
                <div class="panel panel-default">
                    <form class="form-horizontal">
                        <fieldset>
                        <legend>Settings</legend>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="error_correction">Error correction</label>
                          <div class="col-md-4">
                          <div class="radio">
                            <label for="radios-0">
                              <input type="radio" name="error_correction" id="radios-0" value="1" checked="checked">
                              All words
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-1">
                              <input type="radio" name="error_correction" id="radios-1" value="2">
                              Previous word
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-2">
                              <input type="radio" name="error_correction" id="radios-2" value="3">
                              None
                            </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="input_alignment">Input alignment</label>
                          <div class="col-md-4">
                          <div class="radio">
                            <label for="radios-0">
                              <input type="radio" name="input_alignment" id="radios-0" value="1" checked="checked">
                              Left
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-1">
                              <input type="radio" name="input_alignment" id="radios-1" value="2">
                              Center
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-2">
                              <input type="radio" name="input_alignment" id="radios-2" value="3">
                              Right
                            </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="text_layout">Text layout</label>
                          <div class="col-md-4">
                          <div class="radio">
                            <label for="radios-0">
                              <input type="radio" name="text_layout" id="radios-0" value="1" checked="checked">
                              Triple line
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-1">
                              <input type="radio" name="text_layout" id="radios-1" value="2">
                              Single line
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-3">
                              <input type="radio" name="text_layout" id="radios-3" value="4">
                              Single word
                            </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="highlighting">Highlighting</label>
                          <div class="col-md-4">
                          <div class="radio">
                            <label for="radios-0">
                              <input type="radio" name="highlighting" id="radios-0" value="1" checked="checked">
                              Highlight correct word
                            </label>
                            </div>
                          <div class="radio">
                            <label for="radios-1">
                              <input type="radio" name="highlighting" id="radios-1" value="2">
                              Highlight correct letters
                            </label>
                            </div>
                          </div>
                        </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%= render '/word/word_test' %>


    <%= javascript_include_tag "sessions.js" %>
</div>


