<li>
    <div>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.username, user %>
        <% if current_user.admin? && !current_user?(user) %>
            | <%= link_to "delete", user, method: :delete,
                                          data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
    <div id= "user_stats">  
        <p>Tests taken: <%= user.tests_taken %></p>
        <p>Average WPM: <%= user.average_wpm %></p>
    </div>
</li>