<li>
    <div id="user_details">
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.username, user %>
        <% if user.admin? %> 
            <% if user.owner? %>
                <b>Owner </b>
            <%end%>
            <b>Admin</b>
        <%end%>

        <!--If we are not showing the current user- owner can delete anyone. Admin can delete anyone but owner and other admins -->
        <% if  !current_user?(user) && (current_user.owner? || (current_user.admin? && (!user.admin? && !user.owner?)))  %>
            <%= button_to("Delete", {action: :delete, :user => user}, method: :delete, data: { confirm: "Are you sure?"}, class:'btn btn-danger btn-sm', id: "delete_button" )%>
        <% end %>
    </div>
    <div id= "user_stats">  
        <table class="table">
            <tr> 
                <td><b>Tests taken</b></td>
                <td><%=user.tests_taken %></td>
                <td><b>Average WPM</b></td>
                <td><%=user.average_wpm %></td>
                
            </tr>
            <tr>
                <td><b>Standard tests taken</b></td>
                <td><%=user.standard_tests_taken %></td>
                <td><b>Average standard WPM</b></td>            
                <td><%=user.average_standard_wpm %></td>
            </tr>
        </table>
    </div>
</li> 
