<% provide(:title, 'All users ') %>
<h1> All users </h1>

<%= javascript_include_tag params[:controller] %>

<div class="row">
    <%= form_tag 'users', :method => 'get', class: 'input-group' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by username', id: "search" %>
        <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-default" %>
        </span>
    <% end %>
</div>
    <!-- <input type="search" class="form-control" placeholder="Search by username">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    Search
                   
                </button>

        </span> 
        <div class="input-group-btn">   
        
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">WPM</a></li>
                <li><a href="#">Accuracy</a></li>
                <li><a href="#">Tests taken</a></li>
                <li><a href="#">Date created: Newest</a></li>
                <li><a href="#">Date created: Oldest</a></li>
            </ul>
        </div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Time period
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">All time</a></li>
                <li><a href="#">Last year</a></li>
                <li><a href="#">Last month</a></li>
                <li><a href="#">Last week</a></li>
                <li><a href="#">Last 24 hours</a></li>
            </ul>
        </div>

    </input> -->

<%= will_paginate %>
    <ul class="users">
        <%= render @users %>
    </ul>
<%= will_paginate %>
