<li id="word_set-<%=word_set.id%>">
	
	<div id="test_details">
		<p><b><%= word_set.name %></b> (<%= word_set.public ? "" : "private" %>)</p>

		<p>Created : <%= word_set.created_at.to_formatted_s(:long) %> </p>
		<p><%=word_set.words%></p>
	</div>



	
	<% if  current_user?(user) || (current_user.owner? || (current_user.admin? && (!user.admin? && !user.owner?)))  %>
       <%= button_to("Delete", {controller: :word, :action => 'delete',  :word_set => word_set}, method: :delete, data: { confirm: "Are you sure?"}, class:'btn btn-danger btn-sm', id: "delete_button" )%>
    <% end %>
</li>